body
{
  color: white;
  background: #c0d3ff;
}
span
{
  font-size: 40px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size:48px;
}

.heading
{
  letter-spacing: 5px;
  font-size: 30px;
  color: white;
}

label
{
  color: green;
  font-size: 15px;
  background-color: white;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#snapshot
{
  font-size: 20px;
}

#prediction
{
  font-size: 20px;
}